$hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.card-wrap {
  border-radius: 1em;
  transform: perspective(800px);
  transform-style: preserve-3d;
  background-color: var(--clr-bg-alt);

  &:hover:before {
    content: "";
    width: 101%;
    height: 102%;
    border-radius: 1.2em;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -0.5%;
    animation: spin 2.5s linear infinite;
    box-shadow: none;
  }

  &:hover:after {
    position: absolute;
    content: "";
    top: -1%;
    left: -0.5%;
    right: 0;
    z-index: -1;
    height: 102%;
    width: 102%;
    filter: blur(1.5em);
    background-image: linear-gradient( var(--rotate) , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
    box-shadow: none;
  }
  
  &:hover {
    .card-info {
      transition: 0.6s $hoverEasing;
      transform: translateY(0);
      p {
        opacity: 1;
      }
    }
    .card-info, .card-info p {
      transition: 0.6s $hoverEasing;
    }
    .card-info:after {
      transition: 0.1s $hoverEasing;
      opacity: 1;
      transform: translateY(0);
    }
    .card-bg {
      transition: 
        3s $hoverEasing,
        opacity 3s $hoverEasing;
      opacity: 0.8;
    }
  }
}

.card {
  position: relative;
  height: 550px;
  background-color: var(--clr-bg-alt);
  overflow: hidden;
  border-radius: 1em;
  box-shadow:
    rgba(black, 0.50) 0 20px 30px 0;
  transition: 0.6s $returnEasing;

}

.card-bg {
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition:
    1s $returnEasing,
    opacity 3s 1s $returnEasing;
  pointer-events: none;
}

.card-info {
  padding: 6.5em 4em;
  position: absolute;
  width: 100%;
  bottom: 0;
  color: var(--clr-fg-alt);
  transform: translateY(40%);
  transition: 0.6s 0.6s $returnEasing;
  
  p {
    opacity: 0;
    font-size: 1rem;
    transition: 0.6s 0.6s $returnEasing;
  }
  
  * {
    position: relative;
    z-index: 1;
  }
  
  &:after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-blend-mode: overlay;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.6s 0.6s $returnEasing;
  }
}



@media (max-width: 600px) {
  .card {
    height: 75vh;
  }
  .card-bg {
    background: none !important;
    width: 500px;
    height: 500px;
    background-color: #3c67e3 !important;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: -30vh;
    left: 30vw;

  }
  .card-info {
    padding: 3em 1em;
    height: fit-content;
    background-color: transparent;
    z-index: 2;
  }
  .card-wrap {
    transform: perspective(600px);
    
    &:hover:before {
      width: 104%;
      height: 102%;
      left: -2%;
    }
    &:hover {
      .card-bg {
        top: 20vh;
        left: -10vw;
        background-color: var(--clr-circle) !important;
      }
      .card-info{
        padding: 3em 1em;
        a {
          color: var(--clr-primary);
        }
        h1, h2 {
          opacity: 0.3;
          color: var(--clr-primary);
        }
        p {
          font-size: 1.4rem;
          font-weight: 500;
          color: var(--clr-primary);
        }
      }
    }
  }
}